*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
libs/AndEngineBox2d/build/
libs/AndEngineLib/build/
libs/AndEngineTMXTiledMapExtension/build/
